@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFFFF;
  --foreground: #0F172A;
  --light-purple: #A252EE;
  --purple: #7E22CE;
  --dark-purple: #581C87;
  --light-yellow: #FCD34D;
  --yellow: #FBBF24;
  --dark-yellow: #F59E0B;
  --orange-dark: #D97706;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Roboto", sans-serif;

}

*::selection {
  background-color: var(--light-yellow);
  color: var(--foreground);
}

*::-moz-selection {
  background-color: var(--light-yellow);
  color: var(--foreground);
}

*::-webkit-scrollbar {
  position: absolute;
  width: 6px;
  background-color: transparent;
  transition: 0.5s;
}

*::-webkit-scrollbar:hover {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--light-yellow);
  opacity: 0.2;
  animation: gradient 5s ease alternate infinite;
  border-radius: 5px;
  outline: none;
  transition: 4s;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--yellow);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .w-48 {
    width: 48%;
  }

  @media screen and (min-width: 1024px) {
    .left {
      text-align: left;
    }

    .right {
      text-align: right;
    }
  }
}
